@import 'temp.css';

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(240 10% 3.9%);

    --our-white: #fff;
    --our-green: #64B742;
    --our-blue: #2980B9;
    --our-darker-blue: #154C6C;
    --our-red: #FC5130;
  }
}
