html, body {
  scroll-behavior: smooth;
}


@layer base {
  :root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(240 10% 3.9%);


  --letter-title:'Concert One', cursive;
  --letter-text:'Ubuntu', sans-serif;
  
  
  
  --color-primary:white;
  --color-secondary: #154c6c;
  --color-terciary:#2980B9;
  --color-fourth:#64B742;
  --color-fithy:#fc5130;
  --color-primaryTransparent: rgba(255, 255, 255, 0.432);
  
  }
}
